.loopring--primary--team {
	padding: 60px 0 15px 0;
}

.loopring--primary--team--header {
	text-align: center;
}

.loopring--primary--team--container {
	display: flex;
	padding-top: 60px;
	flex-wrap: wrap;
	justify-content: center;
}

@media (max-width: 960px) {
	.loopring--primary--team {
		padding-bottom: 0;
	}
}
