.loopring--featurebox {
	padding: 20px;
	box-shadow: 0 10px 20px rgba(0, 0, 80, 0.19), 0 6px 6px rgba(0, 0, 80, 0.23);
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 15px;
	max-width: 300px;
	min-height: 300px;
	margin: 10px;
	line-height: 1.4;
	text-align: center;
	flex-basis: 30%;
	justify-content: center;
	cursor: pointer;
	transition: all 0.4s ease;
	color: #888;
	background-color: #fff;
	height: 435px;
}

.loopring--featurebox .material-icons {
	font-size: 2.7em;
}

.loopring--featurebox--expand {
	height: 35px;
	width: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #888;
	border-radius: 100%;
}

.loopring--featurebox--expand .material-icons {
	font-size: 1.2rem;
}

.loopring--featurebox--title {
	font-size: 1rem;
	color: #585858;
}

/*.loopring--featurebox--green {
	background-color: #3ecf8e;
}

.loopring--featurebox--purple {
	background-color: #6772e5;
}

.loopring--featurebox--light--blue {
	background-color: #2371ff;
}

.loopring--featurebox--pink {
	background-color: #a63dad;
}

.loopring--featurebox--white {
	background-color: #fff;
	color: #888;
}

.loopring--featurebox--dark--cyan {
	background-color: #0c6884;
}*/
