.loopring--landing--cover {
	background: linear-gradient(90deg, rgba(24, 55, 157, 0.9), rgba(69, 84, 255, 0.9)), url(../../../img/loopring.jpeg);
	background: linear-gradient(rgba(24, 55, 238, 0.8), rgba(24, 55, 232, 0.8)),
		url(../../../img/bgs/concrete_seamless.png);
	color: #fff;
	background-size: cover;
	height: 100vh;
}

/* LANDING COVER INFORMATION */

.loopring--landing--information--container {
	height: 100%;
	display: flex;
	align-items: center;
	width: 80%;
	margin: 0 auto;
}

.loopring--landing--information--inner--container {
	display: flex;
	width: 100%;
	padding: 60px 0;
}

.loopring--landing--information--text--container {
	width: 80%;
}

.loopring--landing--information--text {
	flex-basis: 50%;
}

.loopring--landing--information--text h1 {
	font-size: 2.5rem;
}

.loopring--landing--information--text p {
	font-size: 1.4rem;
	width: 80%;
}

.loopring--landing--information--whitepaper {
	padding: 0 15px;
	border-radius: 50px;
	background: rgba(0, 0, 50, 0.08);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: -15px;
	position: relative;
}

.loopring--landing--information--dropdown {
	position: absolute;
	top: 50px;
	background-color: #fff;
	color: #888;
	right: 0;
	border-radius: 3px;
	visibility: hidden;
	opacity: 0;
}

.loopring--landing--information--dropdown ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 300px;
}

.loopring--landing--information--dropdown ul li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 15px;
	cursor: pointer;
}

.loopring--landing--information--dropdown ul li:hover {
	background-color: #183790;
	color: #fff;
}

.loopring--landing--information--whitepaper p {
	font-size: 1.1rem;
}

.loopring--landing--dropdown--pill {
	border-radius: 50px;
	padding: 5px 15px;
	background-color: #fff;
	color: #585858;
	display: flex;
	align-items: center;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.loopring--landing--dropdown--pill .material-icons {
	font-size: 1.3rem;
}

/* LANDING COVER INFORMATION BOX */

.loopring--landing--information--box--container {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-basis: 50%;
}

.loopring--landing--information--box {
	background-color: #fff;
	border-radius: 3px;
	color: #888;
	padding: 40px 20px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 400px;
}

.loopring--landing--information--box h2 {
	color: #585858;
}

.loopring--landing--information--box--list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.loopring--landing--information--box--list li {
	padding: 7px 0;
	display: flex;
	align-items: center;
}

.loopring--landing--information--box--list--icon {
	margin-right: 10px;
}

.loopring--landing--information--box--button {
	margin-top: 40px;
	height: 60px;
	width: 70%;
	border: none;
	font-size: 1.3rem;
	border-radius: 3px;
	color: #fff;
	background-color: #3fcf8e;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.visible {
	visibility: visible;
}

.opacity {
	opacity: 1;
}

.transition {
	transition: all 0.4s ease;
}

@media (max-width: 840px) {
	.loopring--landing--cover {
		height: auto;
	}
	.loopring--landing--information--inner--container {
		flex-direction: column;
	}
	.loopring--landing--information--text--container {
		margin: 40px auto;
		padding-top: 30px;
	}
	.loopring--landing--information--text--container h1 {
		text-align: center;
	}
	.loopring--landing--information--text--container p {
		text-align: center;
		width: 100%;
	}
	.loopring--landing--information--whitepaper {
		width: 50%;
		margin: 0 auto;
	}
	.loopring--landing--information--whitepaper p {
		text-align: left;
	}
	.loopring--landing--information--box {
		margin: 30px 0;
	}
}
