.loopring--team {
	height: 100%;
	padding-top: 78px;
	background-color: #f7f7f7;
}

.loopring--team--container {
	width: 80%;
	margin: 0 auto;
}

@media (max-width: 600px) {
	.loopring--team {
		padding-top: 52px;
	}
}
