.loopring--headericon {
	width: 70px;
	height: 70px;
	border-radius: 100%;
	background-color: #2047bf;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	font-size: 1.5rem;
}
