.loopring--backers {
	height: 100vh;
	background-color: #fdfdfd;
	padding: 60px 0;
}

.loopring--backers--header {
	text-align: center;
}

.loopring--backers .loopring--features--description--icon {
	color: #fff;
}

.loopring--backers--section--one {
	margin-top: 35px;
}

.loopring--backers--img {
	margin: 20px;
}

