.loopring--backers {
	background-color: #fdfdfd;
	padding: 60px 0;
}

.loopring--backers--container {
	width: 80%;
	margin: 0 auto;
	height: 100%;
}

.loopring--backers img {
	max-width: 300px;
}

.loopring--backers--header {
	text-align: center;
}

.loopring--backers .loopring--features--description--icon {
	color: #fff;
}

.loopring--backers--section--one {
	margin-top: 35px;
}

.loopring--backers--img {
	margin: 20px;
}

