.simple--person--card--container {
	width: 80%;
	margin: 0 auto;
}

.simple--person--card {
	background-color: #fff;
	box-shadow: 0 10px 20px rgba(0, 0, 20, 0.1), 0 4px 8px rgba(0, 0, 80, 0.1);
	display: flex;
	flex-direction: column;
	margin: 15px;
	position: relative;
	border-radius: 3px;
	padding-top: 60px;
	color: #888;
	width: 25%;
	margin-top: 50px;
}

.simple--person--card--header {
	display: flex;
	justify-content: center;
}

.simple--person--card--work--experience {
	background-color: rgb(33, 72, 191);
	color: #fff;
	padding: 40px 0;
	height: 100%;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.simple--person--card--work--experience--container {
	width: 80%;
	margin: 0 auto;
	color: #fff;
}

.simple--person--card--header img {
	width: 70px;
	height: 70px;
	border-radius: 100%;
	box-shadow: 0 10px 20px rgba(0, 0, 80, 0.19), 0 6px 6px rgba(0, 0, 80, 0.23);
	position: absolute;
	top: -35px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.simple--person--card--header h2 {
	color: #000;
	margin: 0;
	font-size: 1.2rem;
	margin-bottom: 40px;
}

.simple--person--card--work--experience--header {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 8px;
}

.simple--person--card--work--experience--header h4 {
	margin: 0;
}

.simple--person--card--work--experience--list {
	margin: 0;
}

.simple--person--card--work--experience--header .material-icons {
	margin-right: 10px;
}
