.loopring--advisors {
	padding-top: 60px;
	background-color: #f7f7f7;
}

.loopring--advisors h1 {
	text-align: center;
}

.loopring--advisors--container {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 60px 0 15px 0;
}

.loopring--secondary--advisors--container {
	padding-top: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ededed;
	padding-bottom: 60px;
}

.loopring--secondary--advisors--inner--container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 80%;
	padding-top: 40px;
	margin: 0 auto;
}

.loopring--secondary--advisors--list {
	background-color: #fff;
	list-style-type: none;
	box-shadow: 0 10px 20px rgba(0, 0, 20, 0.1), 0 4px 8px rgba(0, 0, 80, 0.1);
	border-radius: 3px;
	margin: 0;
	padding: 0;
	max-width: 600px;
	width: 70%;
}

@media (max-width: 960px) {
	.loopring--advisors--container {
		padding-bottom: 0;
	}
}

@media (max-width: 600px) {
	.loopring--secondary--advisors--list {
		width: 100%;
	}
}
