.loopring--header {
	padding: 3px 0;
	position: fixed;
	top: 0;
	width: 100%;
	color: #fff;
	z-index: 999;
	transition: all 0.4s ease;
}

.loopring--header--scrolling {
	background-color: #2047bf;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.loopring--header--container {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.loopring--header--container img {
	height: 50px;
	width: 50px;
}

.loopring--header--navigation--list {
	list-style-type: none;
	display: flex;
	align-items: center;
}

.loopring--header--navigation--list li {
	padding: 0 15px;
	cursor: pointer;
}

.loopring--header--navigation--button {
	border: 2px solid #fff;
	border-radius: 3px;
	color: #fff;
	height: 40px;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.4s ease;
}

.loopring--header--navigation--button:hover {
	background-color: #fff;
	color: #2047bf;
}

.loopring--header--mobile--nav--open {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.loopring--header--mobile--nav--open .material-icons {
	font-size: 2rem;
	margin-left: 10px;
	padding: 10px 0;
}

.loopring--mobile--sidebar {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: #ededed;
	width: 0;
	overflow-x: hidden;
}

.loopring--mobile--sidebar--active {
	width: 50%;
}

.loopring--mobile--sidebar--exit {
	display: flex;
	justify-content: flex-end;
	color: #888;
	font-size: 1.8rem;
	margin-right: 10px;
	cursor: pointer;
}

.loopring--mobile--sidebar--nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.loopring--mobile--sidebar--nav li {
	color: #888;
	padding: 8px 15px;
	display: flex;
	justify-content: center;
}

.loopring--mobile--logo {
	display: flex;
	justify-content: center;
	margin: 30px auto;
	width: 100%;
}

.loopring--mobile--logo img {
	width: 50px;
	height: 50px;
	border: 1px solid #888;
	padding: 5px;
	border-radius: 100%;
}

.transition--width {
	transition: width 0.4s ease;
}

@media (max-width: 480px) {
	.loopring--mobile--sidebar--active {
		width: 100%;
	}
}
