.loopring--header {
	padding: 3px 0;
	position: fixed;
	top: 0;
	width: 100%;
	color: #fff;
	z-index: 999;
	transition: all 0.4s ease;
}

.loopring--header--scrolling {
	background-color: #2047bf;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.loopring--header--container {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.loopring--header--container img {
	height: 50px;
	width: 50px;
}

.loopring--header--navigation--list {
	list-style-type: none;
	display: flex;
	align-items: center;
}

.loopring--header--navigation--list li {
	padding: 0 15px;
	cursor: pointer;
}

.loopring--header--navigation--button {
	border: 2px solid #fff;
	border-radius: 3px;
	color: #fff;
	height: 40px;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}
