.loopring--roadmap--completed {
	background-color: #f7f7f7;
	padding: 60px 0;
}

.loopring--roadmap--completed--container {
	width: 80%;
	display: flex;
	margin: 0 auto;
	flex-direction: column;
}

.loopring--roadmap--completed--container h1 {
	text-align: center;
	margin-bottom: 60px;
}

.loopring--roadmap--completed--inner--container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
