.loopring--features {
	background: linear-gradient(rgba(24, 55, 255, 0.45), rgba(24, 55, 255, 0.45)), url('../../img/repeatingsquares.png');
	background-repeat: repeat;
	filter: hue-rotate(360deg);
	color: #fff;
	padding: 60px 0;
}

.loopring--container {
	width: 80%;
	margin: 0 auto;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.loopring--features--description {
	text-align: center;
}

.loopring--features--boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 30px;
}
